{% extends 'layout.html' %}

{% block body %} 
<h1>Aquarius</h1>
<p>
        Dates: January 21 – February 18
        Symbol: The Water Bearer  
        Mode + Element: Fixed Air      
        Ruling Planet: Saturn, Uranus
        Colors: Silver, Blue
        Most Compatible With: Libra & Gemini
        Least Compatible With: Taurus & Scorpio
</p>

<p>
        WHAT ARE AQUARIANS INTO?

        Sci fi. This could manifest in literal astronaut training/ambitions, or more everyday interests like astrology, aliens, binge-watching Netflix series about space travel and new worlds.
        
        Technology. Oh, they love a phone upgrade! Give them techy toys, and leave them alone for days. They will not complain.
        
        Writing. When there is so much going on in your head, you gotta' get it out, right? And Aquarians usually have a lot to say, and the vocab/eloquence to say it beautifully.
        
        Flying. They are an Air sign, after all, so the wide open space above us is their natural element. Any opportunity to fly, hang glide, sky dive or get up in the clouds is welcome and snapped up
        
        Avante garde art. The latest poem consisting of only words beginning with 'A', or a new artwork featuring simply an upturned dustbin, may not appeal to us mere mortals... but Aquarius laps up the extreme, edgy and, well, frankly, weird shit in the arts world. They get it.
                 
</p>

<img src="{{url_for('static', filename='aquarius.png')}}" align="middle"/>



{%endblock%}