{% extends 'layout.html' %}

{% block body %} 
<h1>Aries </h1>
<p>
        Dates: March 21 – April 19

Symbol: The Ram

Mode + Element: Cardinal Fire

Ruling Planet: Mars
Colors: Red & Mustard
        Most Compatible With: Sagittarius & Leo
        Least Compatible With: Cancer & Capricorn
</p>

<p>
        WHAT ARE ARIES INTO?
        Sports. If they’re not playing it, they’re watching it or (a typical vice…) betting on it. Bookie shops are chocca block with Aries folk.
        
        Volunteering. Their natural generosity, interest in other people and helping make them happier draws many Aries people into charity, campaigning and mentoring work.
        
        White knuckle weekends. Have you seen The Hangover? That would be classed as a *chill sesh* to many Aries. DON’T let them organise your stag or hen, nope no way.
        
        Showbiz. Being the centre of attention is their cat nip, receiving applause, basking in the limelight.
        
        Home improvement. For such an outgoing, social sign, they do take a great deal of pride in their homes. King and Queen of the Castle, thank you very much. DIY is, also, like a competition with tools.
                 
</p>

<img src="{{url_for('static', filename='aries.png')}}" align="middle"/>



{%endblock%}