{% extends 'layout.html' %}

{% block body %} 
<h1>Cancer</h1>
<p>
        Dates: June 21 to July 22
        Symbol: Crab
        Mode + Element: Cardinal Water
        Colors: Silver, white
        Most Compatible With: Pisces & Scorpio
        Least Compatible With: Aries & Libra
</p>

<p>
        WHAT ARE CANCERIANS INTO?
Chillin’ in the bath. If you can’t contact them, chances are they’re in the bath. Seriously, this star sign is drawn to water, well, like a crab to the sea. They are big on self care and bathing is more than just a cleansing exercise, it’s an opportunity to ponder, daydream, indulge themselves in pampering and slip away from real life for a while. Bliss.

Being ‘fake’ poorly. This is one of their signature strategies for gaining attention- plus it enables them to wear their PJs in the daytime, laze about, guzzle whatever they like, and have a lil’ Self Pity Party. You’re only invited if you’re serving up buckets of sympathy.

Beautifying their world. Cancerians are innately creative and imaginative, and love beautiful things. Looking good is important to them, as is making their home/room/desk/car look on trend and welcoming.

Maintaining intense friendships. As previously stated, Cancerians are intuitive people who know (and keep) your darkest secrets. They can't be bothered with relationships which are just about fun or never go beyond skin-deep. They want to be as close and connected with those they love and like as possible.
</p>

<img src="{{url_for('static', filename='cancer.png')}}" align="middle"/>



{%endblock%}