{% extends 'layout.html' %}

{% block body %} 
<h1>Capricorn</h1>
<p>
        Dates: December 21 – January 20

Symbol: The Sea-Goat

Mode + Element: Cardinal Earth

Ruling Planet: Saturn
Colors: Brown & Khaki
        Most Compatible With: Taurus & Virgo
        Least Compatible With: Aries & Libra
</p>

<p>
        WHAT ARE CAPRICORNS INTO?

        Money. It's the most tangible way to measure their success, and success is their catnip.

Puzzles and games. Really really difficult ones - something like Escape Rooms but extra. Tasks which are absorbing and complicated (ideally "never been completed") that they can set their methodical mind to solving... and prove to others how brill they are.

DIY and gardening. Capricorns LOVE being at home, and doing something useful, practical and improving around the house or garden. Pottering-with-intent...
Reading. Not in a flippant way, oh no no, but to stockpile precious knowledge, learn how to do things, and to outdo other people by acquiring surprising super-skills!

Instant gratification. For all of their seriousness and steadfastness, there is a big kid inside every Capricorn who wants all the sweets/drinks/bonus points/shoes/cocktails and wants them NOW. If they let themselves off their own lead, they have a tendency to go a teensy bit wild...               
</p>

<img src="{{url_for('static', filename='capricorn.png')}}" align="middle"/>