{% extends 'layout.html' %}

{% block body %} 
<h1>Leo</h1>
<p>
        Dates: July 23 – April 22
        Symbol: The Lion
        Mode + Element: Fixed Fire
        Ruling Planet: Sun
        Colors: Gold & Purple
        Most Compatible With: Aries & Sagittarius
        Least Compatible With: Taurus & Scorpio
</p>

<p>
        WHAT ARE LEOS INTO?
        Showbiz. Leos are best positioned in a (flattering) limelight- their natural confidence, crowd-pleasing intuition and desire for attention make them fantastic performers and entertainers. The world’s stages and screens are FULL of famous Leos!
        
        Glamuurrrrr. Looking good is a priority, particularly when it comes to their hair. ALL Leos will spend a fortune, invest muchos time, and become semi-profesh hairdressers in the process, as a result of tending to their locks. Their ‘mane’ is always on point.
        
        Ruling the squad. It’s likely that the Leo in your squad is the unofficial ‘Social Secretary’, because they’ll always know where the hot spots are, where the hotties hang out, as well as having the energy to do all the running around herding the squad (like the feral cats you lot are) into order. They also mediate squad fall outs, cajole squad ‘leavers’ back into the fold, and keep everyone ticking along. They make this look easy (it is not).

        Mingling. I have a Leo friend who I’ve holidayed with several times. From 6am her phone would start beeping and vibrating, until around 2am the next morning. It is relentless. It is unbelievable. And she just semi-glances / half notices the ongoing incoming, and has perfected a means of texting back (the many, MANY admirers and friends she has collected) as and when, whilst still chatting to me. It is a sight to behold. That phone is HOT.

        Getting compliments. It is actually a Leo #dailygoal and requirement to receive flattery and praise, and this will be sought until the ‘praise-o-meter’ dial is at a level Leo can abide by. Srsly.
</p>

<img src="{{url_for('static', filename='leo.png')}}" align="middle"/>



{%endblock%}