{% extends 'layout.html' %}

{% block body %} 
<h1>Libra</h1>
<p>
        Dates: September 23 – October 22

        Symbol: The Scales

        Mode + Element: Cardinal Air

        Ruling Planet: Venus
        Colors: Ivory, Pink, Light Blue
        Most Compatible With: Gemini & Aquarius
        Least Compatible With: Cancer & Capricorn
</p>

<p>
        WHAT ARE LIBRAS INTO?
        Shopping. Buying new stationery/shoes/skincare/bedding/underwear/candles/flavoured coffee/outfits etc is like instant access to happiness for Libra. They have impeccable taste and like elegant, good quality, coveted pieces which they can showcase (*ahem* show OFF) to others.

Being in luurrvve. Libra hates to be alone - except when they’re writing a list (which is a frequent, and also intense, activity). They like to do everything with someone by their side, and ideally that someone is an object of affection. Librans loved to be loved, be in love, and love others. They’re that friend that ghosts you when they get a new partner. See ya Libra - Cupid’s hostage.

Mediating. Getting all up in other people’s business is catnip. Especially when there’s a *thorny issue* to be unpicked and unravelled and sorted out. As long as none of the drama is going to blow back on them (conflict is a no-no) they will happily wade into and help resolve any and all issues.

DIY/cleaning. Beautifying their surroundings is #goals. Mrs Hinch is like a Goddess to Libra, albeit they’d MUCH prefer ‘others’ did the doing while they ‘direct’ (their *faultless* logic will justify this somehow). This is what a Libran’s partner is for. Part sex slave/part skivvy.

Overthinking. They could make it into the Olympic team for over-thinkers.
</p>

<img src="{{url_for('static', filename='libra.png')}}" align="middle"/>



{%endblock%}