{% extends 'layout.html' %}

{% block body %} 
<h1>Pisces</h1>
<p>
        Dates: February 19 to March 20
        Symbol: Pair of Fish
        Mode + Element: Mutable Water
        Planet: Jupiter, Neptune
        Colors: Silver, Blue
        Most Compatible With: Scorpio & Cancer
        Least Compatible With: Gemini & Sagittarius
</p>

<p>
        WHAT ARE PISCEANS INTO?

        Anything water-related. Being in or near water truly makes them happy: swimming, sailing, fishing, surfing, even just walking on the beach. Bliss.

Dancing. Neptune rules dance! Pisceans, physically, often have very slinky bodies which seem to slip and glide along. Hypnotic.

Being witchy. This may manifest as simply binge-watching the Chilling Adventures of Sabrina a lot, or they may actually be the one giving you tarot readings, wafting sage over your bed and advising on crystals.

Writing. Drawn to self expression which they alone can control (vs having to navigate the rough'n'tumble of conversation!) Pisceans always have a lot of observations and insights to share, they are poetic and lyrical too.

The Part-tay. I mean Rihanna is a Pisces, so you get the picture.
                 
</p>

<img src="{{url_for('static', filename='pisces.png')}}" align="middle"/>



{%endblock%}