{% extends 'layout.html' %}

{% block body %} 
<h1>Scorpio</h1>

<p>
        Dates: October 23 to November 21
Symbol: Scorpion
Mode + Element: Fixed Water
Planet: Mars, Pluto
Color: Red, black
        Most Compatible With: Cancer & Pisces
        Least Compatible With: Leo & Aquarius
</p>

<p>
        WHAT ARE SCORPIOS INTO?
        Doing a Ouija board. They’re on good terms with Satan actually, they get Frappuccinos and hang out together at the park on Sunday mornings when it gets a little toasty down there in *you know where*…
        
        Meditating. Because they don’t really need anyone else, or (honestly) want their opinion. Retreating into their own headspace is a delight, they can plot and scheme away, and NO ONE can tell what they’re up to, looking all ‘zen’.
        
        Climbing da career ladder. Born to rule, to succeed, to excel, to get to the top of whatever tree they’ve chosen to climb. And they’re at it 24:7, they don’t switch ‘off’ from their ‘work (or wherever their ambitions lie) world’, they are always grafting in some capacity, strategising, learning and networking.
        
        Forming a cult. Scorpios are drawn to the occult (because other people are wary of it). And they enjoy the games and strategies of control. They can lead others into dark places. A Scorpio with a bad purpose is a dangerous animal.
        
        Martial arts. They’re ruled by Mars - combat is in the blood.
</p>

<img src="{{url_for('static', filename='scorpio.png')}}" align="middle"/>

{%endblock%}